/* Fonts */
@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

@font-face {
  font-family: 'Edition';
  src: url('assets/css/fonts/EditionRegular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'De Valencia';
  src: url('assets/css/fonts/DeValencia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* HTML */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(148, 187, 233, .3) !important ;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Dosis', sans-serif;
    color:#FFF;
    font-weight: 200;
    text-transform: uppercase;
  }

section.landing_page {
    max-width: 57%;
    margin: auto;
    align-items: center;
    text-align: center !important;
}
.landing_page {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF;
}
.video_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.caption {
    z-index: 2;
    position: relative;
    top: 18%;
    width: 100%;
}

.caption h1 {
  font-family: 'Poiret One', cursive;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3{
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  text-shadow:.1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.caption a{
  color:rgb(0, 0, 0) !important;
  text-shadow: .1rem .1rem .8rem rgb(255, 255, 255);
  font-family: 'Dosis', sans-serif;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: bold !important;
  padding: .6rem 1.3rem;
  background-color:rgba(174,182,238, .5);
}

h1 {
  font-family: 'Poiret One', cursive;
  text-align: center !important;
  font-size: 12em;
}

h2 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold !important;
  font-size: 2.5rem !important;
}


h3, h4 {
  font-family: 'Poiret One', cursive;
  font-weight: bold !important;
}

a {
  color:black !important;
	text-decoration: none !important;
  font-family: 'Dosis', sans-serif;
}

.fa-brands {
  font-size: 20px;
  letter-spacing: 0.5em;
}

p {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.nav-link {
  color:#FFF !important;
}

.nav-item {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align:left;
}

#nav_a {
    opacity: 5;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
#nav_a:hover {
  opacity: .4;
}

#figurine {
  align-items: center !important;
}

.card-text {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}

.card-body {
  background-color:rgba(174,182,238, .5);
  border: rgb(0, 0, 0);
}

li {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align:left;
}

.img-fluid {
  padding-bottom: 1rem;
}

#evidenziatore {
  text-decoration: none;
  color: #000000;
  position: relative;
  font-family: 'Poiret One', cursive;
  font-weight: bold !important;
}

#evidenziatore::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

#evidenziatore:hover::before {
  bottom: 0;
  height: 100%;
}


#special {
  font-weight: bold;
opacity: 5;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}

#special:hover {
  opacity: .4;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

footer {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

.text-dark {
  text-transform: none !important;
}


